@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */

/* mixins */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* selectors */

input, textarea, select, .uneditable-input {
  @include box_sizing;
}


body {
	padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* utilites */

.col-centered{
   float: none;
   margin: 0 auto;
}

/* header */

.header {
	padding: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.debug {
	margin-top: 50px;
}

/* forms */

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*flash*/

.alert ul {
  list-style: none;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }