<footer class="footer">
	<div class="container">
	  <small>
	    <%= link_to "App_name", root_url %>
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "About",   '#' %></li>
	      <li><%= link_to "Contact", '#' %></li>
	    </ul>
	  </nav>
	 </div>
</footer>